@page "/Compare"

<PageTitle>Compare</PageTitle>

<!DOCTYPE html>
<html>
<head>
    <title>Search results</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
</head>
<header>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1" style="text-align:right">
            <button id="defaultbutton" style="padding-left: 8px; padding-right: 8px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                </svg>
            </button>
            <p style="padding-lsseft: 4px;">Saved</p>
        </div>
        <div class="col-md-1" style="text-align:right">
            <button id="defaultbutton" style="padding-left: 12px; padding-right: 12px;">?</button>
            <p>Help</p>
        </div>
    </div>





</header>
<body>


    <div style="width:100%;">
        <!-- Main Div -->
        <div class="row">
            <div style="text-align:center; padding:20px">
                <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Compare</h1>
            </div>
        </div>
        <div style="float:left; width:50%; height:100%; padding-right:10px">
            <!-- Set Div As your requirement -->
            <div class="card">
                <img src="house1.jpg" alt="house 1" style="width:100%">
                <h2>3456 24 Ave NW</h2>
                <h4><b>List price: $3,500,000</b></h4>
                <p>5 Bedrooms</p>
                <p>7 bathrooms</p>
                <p>Area: 3,000 sq.ft</p>
                <p>Price / Sq.ft: $167</p>
                <p>1 bedrooms | 2 bathroos</p>
                <p>Type: Condo</p>
                <p>Year Built: 2005</p>
                <p>List Date: 01/11/2022</p>
                <p>Parking: Underground (1)</p>
                <p style="text-align:left"><b>Perks :</b></p>
                <ul>
                    <li>Stylish development featuring pool and year-round facilities maintenence</li>
                    <li>Walking-distance to the train station and an upscale shopping complex</li>
                    <li>Spacious heated underground garage</li>
                    <li>Recently outfitted with new appliances</li>
                </ul>
                <p><button style="background-color:red"><b>Cancel</b></button></p>
            </div>
        </div>
        <div style="float:right; width:50%; padding-left:10px">
            <!-- Set Div As your requirement -->
            <div class="card">
                <img src="house2.jpg" alt="house 2" style="width:95%">
                <h2>1234 9 Ave NW</h2>
                <h4><b>List price: $4,500,000</b></h4>
                <p>5 Bedrooms</p>
                <p>7 bathrooms</p>
                <p>Area: 3,500 sq.ft</p>
                <p>Price / Sq.ft: $185</p>
                <p>1 bedrooms | 2 bathroos</p>
                <p>Type: Single family house</p>
                <p>Year Built: 2005</p>
                <p>List Date: 01/11/2022</p>
                <p>Parking: Underground (1)</p>
                <p style="text-align:left"><b>Perks :</b></p>
                <ul>
                    <li>Stylish development featuring pool and year-round facilities maintenence</li>
                    <li>Walking-distance to the train station and an upscale shopping complex</li>
                    <li>Spacious heated underground garage</li>
                    <li>Recently outfitted with new appliances</li>
                </ul>
                <p><button style="background-color:red"><b>Cancel</b></button></p>
            </div>


            <div>
                Footer
            </div>
        </div>
    </div>

</body>
</html>